<div class="left-sidebar d-none d-md-flex flex-column flex-shrink-0" style="width: 250px;">
  <!-- Logo -->
  <div class=" pt-2 ps-2">
    <img src="../../assets/instalogo.png" alt="Instagram" class=" img-fluid logo" style="width: 250px; height: 70px;" />
  </div>

  <!-- Navigation -->
  <nav class="nav flex-column gap-2">
    <a  class="nav-link d-flex align-items-center" routerLink="/home">
      <i class="fa-solid fa-house fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Home"></i>
      <span class=" d-xl-inline">Home</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/search">
      <i class="fa-solid fa-magnifying-glass fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Search" ></i>
      <span class=" d-xl-inline">Search</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/explore">
      <i class="fa-regular fa-compass fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Explore" ></i>
      <span class=" d-xl-inline">Explore</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/reels">
      <i class="fa-solid fa-film fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Reels" ></i>
      <span class=" d-xl-inline">Reels</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/messages">
      <i class="fa-solid fa-message fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Messages" ></i>
      <span class=" d-xl-inline">Messages</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/notifications">
      <i class="fa-solid fa-bell fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Notifications" ></i>
      <span class=" d-xl-inline">Notifications</span>
    </a>
    <a class="nav-link d-flex align-items-center " data-bs-toggle="modal" data-bs-target="#createModal" >
      <i class="fa-solid fa-square-plus fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Create" ></i>
      <span class=" d-xl-inline">Create</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/{{username}}">
      <i class="fa-solid fa-user fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Profile" ></i>
      <span class=" d-xl-inline">Profile</span>
    </a>
    <a class="nav-link d-flex align-items-center " (click)="logout()" >
      <i class="fa-solid fa-user fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Logout" ></i>
      <span class=" d-xl-inline">Logout</span>
    </a>
  </nav>

  <!-- More -->
  <div class= "pt-5">
    <a class="nav-link d-flex align-items-center" routerLink="/more">
      <i class="fa-solid fa-bars fs-5 me-3 ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="More"></i>
      <span class=" d-xl-inline">More</span>
    </a>
  </div>
</div>
<!-- Bootstrap Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-dialog-centered"
    [ngClass]="{ 'modal-lg': isNextStep }"
    style="transition: all 0.5s ease;">
    <div class="modal-content text-center" style="background-color: rgb(38, 38, 38); transition: all 0.5s ease;">
      
      <!-- Modal Header -->
      <div class="modal-header border-0" style="background-color: black; color: white;">
        <h5 class="modal-title w-100" id="createModalLabel">
          {{ isNextStep ? 'Create Post' : 'Upload Photo' }}
        </h5>

        <!-- Buttons -->
        <button   class="btn border text-white" (click)="ClearPreview()"  data-bs-dismiss="modal">X</button>
        <button  style="display: none;" class="btn border text-white" (click)="ClearPreview()"  #closeModal data-bs-dismiss="modal">X</button>
        <button *ngIf="previewUrl && !isNextStep" class="btn text-primary" (click)="NextModal()">Next</button>
        <button *ngIf="isNextStep" class="btn text-primary" (click)="ResetModal()">Back</button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body p-0" style="background-color: rgb(38, 38, 38); transition: all 0.5s ease;">
        
        <!-- Preview with Caption -->
        <div *ngIf="previewUrl && isNextStep && !postShared && !isCompletedLoading" class="d-md-flex gap-2 p-3">
          <div class="flex-shrink-0 d-flex justify-content-center align-items-center">
            <img [src]="previewUrl" alt="Preview" class="img-fluid rounded" style="max-width: 300px;" />
          </div>
          <div class="flex-grow-1 text-start mt-3 mt-md-0 ">
            <label class="my-2" for="caption">Caption:</label>
            <textarea  [(ngModel)]="caption" placeholder="Write a caption..." rows="6"
              class="form-control border-secondary" style="background-color: black; color: white; resize: none;"></textarea>
            <button class="btn btn-primary mt-3 float-end" (click)="UploadFinalPost()">Post</button>
          </div>
        </div>
        <div *ngIf="isCompletedLoading">
          <img src="../../../../assets/instagram_loading.png" class="m-5 instagramloading" alt="">
        </div>

        <!-- Initial Upload UI -->
        <div *ngIf="!previewUrl && !postShared" class="py-5">
          <i class="fa-solid fa-photo-film mb-3" style="font-size: 100px;"></i>
          <p class="fs-4">Drag photos and videos here</p>
          <button class="btn fw-bold btn-primary" (click)="triggerFileInputPost()">Upload Photo</button>
        </div>
        <div *ngIf="postShared">
          <img src="../../../../assets/instagram_loading_complete-removebg-preview.png" class="mt-3 " alt="">
          <p class="fs-3 fw-light" >Your post has been shared.</p>
        </div>

        <!-- Preview Only -->
        <div *ngIf="previewUrl && !isNextStep" class="mt-3">
          <img [src]="previewUrl" alt="Preview" class="img-fluid rounded" style="max-height: 300px;" />
        </div>

      </div>
    </div>
  </div>
</div>


<input type="file" accept="image/*" style="display:none" #fileInputPost (change)="handleFileUploadPost($event)" />