<div class="" >
   <!-- Story Avatars -->
<div class="d-flex overflow-auto story-scroll py-2">
  <div *ngFor="let user of storiesGroupedByUser" (click)="openStory(user)">
    <img [src]="getProfileImage(user.imageUrl)" class="story-avatar rounded-circle me-3 border border-danger" width="60" height="60">
    <div class="text-center small">{{ user.username }}</div>
  </div>
</div>

<!-- Story Modal -->
<div *ngIf="currentStory" class="story-modal">
  <div class="story-content" (click)="nextStory()">
    <img *ngIf="currentStory.mediaType === 'image'" [src]="currentStory.mediaUrl" class="w-100">
    <video *ngIf="currentStory.mediaType === 'video'" [src]="currentStory.mediaUrl" autoplay muted controls></video>
  </div>
</div>

</div>
