   <!-- Topbar for Mobile -->
<div class="mobile-topbar d-md-none">
  <img src="../../assets/instalogo.png" alt="Instagram" class="img-fluid" />
  <div class="d-flex">
    <div class="">
      <div class="dropdown" >
        <i class="fa-solid fa-square-plus fs-1" data-bs-toggle="dropdown" aria-expanded="false"   data-bs-placement="top" title="Reel" ></i>
        <ul class="dropdown-menu" style="background-color: rgb(37, 37, 37); color: white; width: auto;">
          <li style="padding-left: 25px;height: 35px; color: white;"  data-bs-toggle="modal" data-bs-target="#createModal" >Create Post</li>
          <li style="padding-left: 25px;height: 35px; color: white; " data-bs-toggle="modal" data-bs-target="#storyModal">Story</li>
          <li style="padding-left: 25px;height: 35px; color: white;"  data-bs-toggle="modal" data-bs-target="#reelModal">Upload Reel</li>
        </ul>
    </div>
      
    </div>
    <div class="" >
      <i class="fa-solid fa-bell fs-1  mx-4" routerLink="/notifications" data-bs-toggle="tooltip" data-bs-placement="top" title="Notifications"></i>
  </div>
  
  </div>
</div>
<div class="story-top-bar   " >
   <!-- Story Avatars -->
  <div class="d-flex overflow-auto story-scroll py-2 m-4" style="width: calc(100vw - 30vw);"  >

    <div class="circle-image me-3 " *ngIf="isStoryAvailable" > 
      <img  src="../../../assets/instagram_loading_seen.png"  width="100" height="100" alt="" srcset=""> 
      <img [src]="getProfileImage(loggedInUserStory?.profilePicture) || 'assets/avatar.png'"  routerLink="stories/{{loggedInUserStory.username}}/{{loggedInUserStory.displayStories[0].storyId}}"   class="story-avatar rounded-circle me-3 " width="88" height="88">
      <div  class="text-center small">Your Story</div> 
    </div>

    <div class="circle-image me-3 " *ngIf="!isStoryAvailable" style="position: relative;"> 
      <img src="../../../assets/instagram_loading_seen.png"  width="100" height="100" alt="" srcset=""> 
      <i style="position: absolute;bottom: 17px;right: 10px;" class="fa-solid fa-circle-plus"></i>
      <img [src]="getProfileImage(loggedInUserStory?.profilePicture) || 'assets/avatar.png'"   data-bs-toggle="modal" data-bs-target="#storyModal"  class="story-avatar rounded-circle me-3 " width="88" height="88">
      <div   class="text-center small">Add Story</div> 
    </div>

    <div *ngFor="let user of storiesGroupedByUser" class="circle-image me-3 " >
      <img *ngIf="!user.isSeen" src="../../../assets/instagram_loading.png"  width="100" height="100" alt="" srcset="">
      <img *ngIf="user.isSeen" src="../../../assets/instagram_loading_seen.png" width="100" height="100" alt="" srcset="">
      <img [src]="getProfileImage(user.profilePicture) || 'assets/avatar.png'" (click)="openStory(user)" routerLink="stories/{{user.username}}/{{user.displayStories[0].storyId}}" class="story-avatar rounded-circle me-3 " width="88" height="88">
      <div class="text-center small">{{ user.username }}</div>
    </div> 
  </div> 
</div>
<div class="container " style="overflow: hidden !important;">
  <div class="row justify-content-start">
    <div class="col-md-6">
 
      <div class="card mb-4 post-card " style="background-color: black; color: white; border-bottom: 2px solid rgb(83, 83, 83);" #postCard *ngFor="let post of posts">

        <!-- Post Header -->
        <div class="card-header d-flex align-items-center  " routerLink="/{{post.userName}}" style="background-color: black; color: white; cursor: pointer;">
          <img  routerLink="/{{post.userName}}"
               [src]="getProfileImage(post.profilePicture)"
               class="rounded-circle me-2"
               width="40" height="40" />
          <strong>{{ post.userName }}  <span class="fw-light" style="color: rgb(197, 197, 197);">• {{TimeSincePost(post.createdAt)}}</span></strong>
        </div>

        <!-- Post Image -->
        <img  *ngIf="post.imageUrl != 'multiple'"
             class="card-img-top"
             [src]="getProfileImage(post.imageUrl)"
             alt="Post image" />


          <div  *ngIf="post.imageUrl == 'multiple'"  id="previewCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          *ngFor="let img of post.mediaUrl; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <img
            [src]="getProfileImage(img)"
            alt="Preview"
            class="d-block w-100 rounded"
            style="object-fit: contain; height: 300px;"
          />
        </div>
      </div>

      <!-- Carousel controls -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#previewCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#previewCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
             

        <!-- Post Body -->
        <div class=" card-body mt-3" style="background-color: black; color: white;">
          <!-- Likes & Comments Count -->
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <i style="cursor: pointer;" *ngIf="!post.isLikedByMe" (click)="Like(post)" class="fa-regular fa-heart fs-4"></i>
              <i style="cursor: pointer; color: #ff4242;" *ngIf="post.isLikedByMe" class="fa-solid fa-heart fs-4" (click)="UnLike(post)"></i>
              <i class="fa-regular fa-comment fs-4 ms-3" (click)="FocusComment(post)" style="cursor: pointer;"></i> 
              <i class="fa-regular fa-paper-plane fs-4 ms-3"  data-bs-toggle="modal" data-bs-target="#HomeSent" style="cursor: pointer;" (click)="AddPostId(post)"></i>
            </div>

            <div>
              <i *ngIf="!post.isSaved" class="fa-regular fa-bookmark fs-4" (click)="AddSaved(post)" style="cursor: pointer;"></i>
              <i *ngIf="post.isSaved" class="fa-solid fa-bookmark fs-4" (click)="RemoveSaved(post)" style="cursor: pointer;"></i>
            </div>
        </div>

          <!-- Likes Count -->
          <span (click)="openLikesModal(post)" style="cursor: pointer;" class="fw-bold" data-bs-toggle="modal" data-bs-target="#HomeLikes"><i class="bi bi-heart-fill text-danger"></i> {{ post.likesCount }} likes</span>
          <!-- Caption -->
          <p class="mb-1" style="background-color: black; color: white;">
            <strong>{{ post.userName }} <span class="fw-light" style="color: rgb(197, 197, 197);"> {{ post.caption }}</span></strong>
          </p>

          <p *ngIf="post.comments.length > 1" style="color: rgb(151, 151, 151); cursor: pointer;"  routerLink="/{{post.userName}}/p/{{post.postId}}" class=" ">View all {{post.commentsCount}} comments</p>
          
          <!-- Comments Preview -->
          <div *ngFor="let comment of post.comments " class="mb-1" style="background-color: black; color: white;">
            <strong>{{ comment.userName }}</strong> {{ comment.commentText }}
          </div>
           
          <div class="d-flex align-items-center mb-4">
            <input  #commentInput
              [(ngModel)]="newComments[post.postId]"
              class="form-control bg-black text-white border-0 "
              style="box-shadow: none; font-size: 14px;"
              placeholder="Add a comment..."
            />
            <button *ngIf="newComments[post.postId]?.trim()" style="padding: 0 !important;" class="btn border-0 text-primary fw-bold" (click)="addComment(post)"  >Post</button>
          </div>
           
        </div>
      </div>
      <div *ngIf="loading" class="text-center text-white my-3">
  <div class="spinner-border text-light"></div>
</div>
      <!-- LOOP END -->

    </div>
  </div>
</div>


<!-- Story Modal -->
<div
  class="modal fade show d-block"
  tabindex="-1"
  *ngIf="showModal"
  style="background-color: rgba(0, 0, 0, 0.9);"
>
  <div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="position-relative">
      <button class="btn btn-light position-absolute top-0 end-0 m-2" (click)="closeStory()">✕</button>
      <img
        [src]="getProfileImage(currentUserStories[currentStoryIndex]?.imageUrl)"
        class="rounded story-image"
        alt="story"
      />

      <!-- Previous / Next -->
      <button
        class="position-absolute top-50 start-0 translate-middle-y btn btn-dark btn-sm px-2"
        (click)="prevStory()"
        *ngIf="currentStoryIndex > 0"
      >‹</button>

      <button
        class="position-absolute top-50 end-0 translate-middle-y btn btn-dark btn-sm px-2"
        (click)="nextStory()"
        *ngIf="currentStoryIndex < currentUserStories.length - 1"
      >›</button>
    </div>
  </div>
</div>

<!-- Likes Modal -->
 <div class="modal fade" id="HomeLikes" tabindex="-1" aria-labelledby="LikesLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;"> <!-- 👈 Centered and limited width -->
    <div class="modal-content" style="background-color: #121212; color: white; border-radius: 12px;">

      <!-- Modal Header -->
      <div class="modal-header border-0" style="background-color: #1a1a1a;">
        <h5 class="modal-title mx-auto" id="LikesLabel" style="font-weight: 600;">Likes</h5>
        <button type="button" class="btn-close btn-close-white position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body p-0" style="max-height: 350px; overflow-y: auto;"> <!-- 👈 Scroll when needed -->

        <!-- Loop Over Likes -->
        <div *ngFor="let like of selectedLikes" class="d-flex align-items-center justify-content-between px-3 py-2 hover-effect">

          <!-- Profile Info -->
          <div  class="d-flex align-items-center gap-2" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;" [routerLink]="['/', like.userName]">
            <img [src]="getProfileImage(like.profilePicture)" alt="User" class="rounded-circle" width="45" height="45" style="object-fit: cover;" />
            <span class="fw-bold text-white">{{ like.userName }}</span>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<!-- Sent Modal -->
<div class="modal fade" id="HomeSent" tabindex="-1" aria-labelledby="SentLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 420px;">
    <div class="modal-content custom-modal">

      <!-- Header -->
      <div class="modal-header border-0 d-flex justify-content-between align-items-center">
        <h5 class="modal-title fw-semibold">Share</h5>
        <button type="button" (click)="ClearSearchQuery()" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Search Bar -->
      <div class=" d-flex justify-content-center align-items-center">
        <div class="input-group  w-50 border-rounded mb-3">
          <span class="fa-solid mt-1 text-white border-rounded fa-magnifying-glass input-group-text border-0"
            style="background-color: rgb(0, 0, 0) !important;"></span>
          <input type="text" (input)="DeBounce()" class="form-control w-50  border-rounded" [(ngModel)]="searchQuery"
            placeholder="Search...">
        </div>
      </div>

      <!-- Dropdown Results -->

      <!-- Body -->
      <div class="modal-body p-0" style="max-height: 350px; overflow-y: auto;">
        <div *ngFor="let user of searchResults " class="d-flex align-items-center px-3 py-2 user-row"  style="cursor: pointer;" (click)="SendPost(user.userName)" data-bs-dismiss="modal" aria-label="Close" >

          <img [src]="getProfileImage(user.profilePicture)" alt="User" class="rounded-circle me-2" width="48"
            height="48" style="object-fit: cover;" />
          <span class="fw-semibold text-white">{{ user.userName }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

      
 




