.story-scroll {
  background-color: #000;
  scrollbar-width: none;
}

.story-avatar {
  padding: 2px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  left: 5.7px;
  z-index: 1000;
}

img.rounded-circle {
  object-fit: cover;
}

.story-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.story-content {
  max-width: 400px;
  max-height: 700px;
}

.circle-image {
  position: relative !important;
  cursor: pointer;
}

.story-bar {
  background-color: #000;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.story-image {
  width: 450px;
  height: 96vh;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .story-scroll {
    background-color: #000000;
    scrollbar-width: none;
    width: calc(100vw - 10vw) !important;
  }
}

@media screen and (min-width: 680px) {
  .story-scroll {
    background-color: #000000;
    scrollbar-width: none;
    width: calc(100vw - 45vw)!important;
  }
}

.post-card {
  border-bottom: 1px solid #dbdbdb; 
  overflow: hidden;
}

.post-card img.card-img-top {
  object-fit: cover;
  max-height: 600px;
}

.post-card .card-header {
  font-size: 14px;
}

.post-card .card-body {
  font-size: 14px;
}
.card-body{
  flex: 1 1 auto !important;
  padding: 0 !important;

}

.post-card .card-body i {
  font-size: 16px;
}
input::placeholder{
  color: #dbdbdb;
}
.card-header{
  padding: 0 !important;
  margin-bottom: 10px !important;
}
.form-control{
  padding: 0 !important;
  margin-top: 5px !important;
}