<div class="explore-container">
  <div *ngFor="let post of posts" class="explore-item">
    <img *ngIf="post?.isImage" [src]="getProfileImage(post?.imageUrl)" class="img-fluid" alt="explore post" >
  
    <video  *ngIf="!post?.isImage" class="" 
          [src]="post?.reelUrl"
          style="object-fit: contain; width: 350px;border-radius: 4%;">
          Your browser does not support the video tag.
    </video>

    <!-- Reel / Image indicator -->
    <div class="post-type">
      <i *ngIf="!post?.isImage" class="fa-solid fa-clapperboard"></i>
      <i *ngIf="post?.isImage" class="fa-solid fa-image"></i>
    </div>

    <!--post Overlay -->
    <div class="overlay" *ngIf="post?.isImage"  (click)="openPostPage(post.imageUserName ,post.imagePostId)">
      <span><i class="fa-regular fa-heart me-2"></i> {{post?.imageLikesCount}}</span>
      <span><i class="fa-regular fa-comment"></i> {{post?.imageCommentsCount}}</span>
    </div>
    <!--reel Overlay -->
    <div class="overlay" *ngIf="!post?.isImage"  (click)="openReelPage(post.reelUserName ,post.reelPublicId)">
      <span><i class="fa-regular fa-heart me-2"></i> {{post?.reelLikeCount}}</span>
      <span><i class="fa-regular fa-comment"></i> {{post.reelCommentCount}}</span>
    </div>
  </div>
</div>
