.search-box input {
  background-color: #262626;
  color: white;
  border: 1px solid #444;
}

.search-dropdown {
  background-color: #262626;
  color: white;
}

.search-item:hover {
  background-color: #383838;
  cursor: pointer;
}
input::placeholder{
  color: white !important;
}