<div class="search-box position-relative">
  <p class="text-center fs-2 my-3" >Search</p>
 
<div class=" d-flex justify-content-center align-items-center">
   <div class="input-group  w-50 border-rounded mb-3" >
  <span class="fa-solid mt-1 text-white border-rounded fa-magnifying-glass input-group-text border-0" style="background-color: rgb(0, 0, 0) !important;"></span>
  <input type="text"  (input)="DeBounce()" class="form-control w-50  border-rounded"   [(ngModel)]="searchQuery"   placeholder="Search..." >
</div>
</div>

  <!-- Dropdown Results -->
  <div
    class="search-dropdown position-absolute bg-dark flex-column d-flex justify-content-center align-items-center  rounded w-100 mt-1 z-3"
    *ngIf="showDropdown"
    style="  overflow-y: auto;background-color: black!important; "
  >
    <div
      class="search-item w-50 d-flex py-2 align-items-center hover-effect "
      *ngFor="let user of searchResults"
      [routerLink]="['/', user.userName]"
      (click)="showDropdown = false"
      style="cursor: pointer;"
    >
      <img [src]="getProfileImage(user.profilePicture)" class="rounded-circle me-3" width="40" height="40" style="object-fit: cover;" />
      <div>
        <div class="fw-bold text-white">{{ user.userName }}</div>
        <div class=" small">{{ user.fullName }}</div>
      </div>
    </div>
  </div>
</div>
