form {
  input, textarea, select {
    font-size: 14px;
  }

  .form-label {
    font-weight: 500;
  }

  .btn-primary {
    border-radius: 10px;
  }
}

.display-none-ok{
  display: none !important;
}
@media screen and (max-width: 768px) {
  .display-none-ok{
    display: block !important;
  }
}