<div class="container mt-4">
  <h4 class="mb-3">Notifications</h4>

  <ul class="list-group w-100 w-md-75 mt-5">
    <li *ngFor="let n of notifications"
        class="list-group-item d-flex justify-content-between align-items-center  
        mb-3 border-0 border-bottom"
        style="background-color: black; color: white; cursor: pointer;">

      <!-- Left side: profile image -->
      <div class="d-flex align-items-center">
        <img [src]="getProfileImage(n.profilePicture)" routerLink="/{{n.loggedInUserName}}"
             class="rounded-circle me-3"
             alt="user" width="40" height="40">

        <!-- Middle content -->
        <div>
          <span class="fw-bold">{{ n.loggedInUserName }}</span> {{ n.notificationText }}
          <div class="small " style="color: rgb(196, 196, 196)">
            {{ TimeSincePost(n.createdAt) }}
          </div>
        </div>
      </div>

      <!-- Right side content -->
      <div class="d-flex align-items-center">
        <!-- Post image -->
        <img *ngIf="n.postId != null" routerLink="/{{n.userName}}/p/{{n.postId.postId}}"
             [src]="getProfileImage(n.postId.imageUrl)" 
             alt="post"
             class="rounded"
             width="60" height="60"
             style="object-fit: cover; border-radius: 8px;">

        <!-- Reel video -->
        <video *ngIf="n.reelId != null" routerLink="/{{n.userName}}/reel/{{n.reelId.publicId}}"
               [src]="n.reelId.url" 
               class="rounded"
               width="60" height="60"
               style="object-fit: cover; border-radius: 8px;"></video>

        <!-- Confirm/Delete buttons -->
        <div *ngIf="n.notificationText == 'Requested to follow you.'" class="ms-2">
          <button class="btn btn-primary btn-sm me-1" (click)="ConfirmFollow(n.loggedInUserName)">Confirm</button>
          <button class="btn btn-secondary btn-sm" (click)="RemoveRequest(n.loggedInUserName)">Delete</button>
        </div>
      </div>
    </li>

    <li *ngIf="notifications.length == 0" style="background-color: black; color: white;" class="list-group-item text-center">No Notifications Yet</li>
  </ul>
</div>
