.list-group-item.active {
  background-color: rgba(197, 197, 197, 0.312) !important;  /* light gray background */
  color: #ffffff !important;           
}
input::placeholder{
  color: rgb(142, 142, 142);
}
.inputtext{
  background-color: #1a1a1a; 
  color: white; 
box-shadow: none;
}
 