<div class="container mt-3">
  <div *ngIf="activeTab === 'tagged' && loggedInUserName != username && ( isPublic||  alreadyFollowing )" class="text-center mt-5">
    <i class="fa-regular fs-1  fa-user"></i>
    <p class="fw-bold fs-2" >Photos of you</p>
    <p> When people tag you in photos, they'll appear here</p>
  </div>
    <div *ngIf="loggedInUserName != username && !( isPublic|| alreadyFollowing )" class="text-center py-2 " >
    <i class="fa-solid fa-lock  fs-1"></i>
    <p class="fw-bold fs-2 mt-3" >This account is private</p>
    <p>Follow to see their photos and videos.</p>  
  </div>
</div>

<input type="file" accept="image/*" style="display:none" #fileInput (change)="handleFileUpload($event)" /> 




