<div class="left-sidebar d-none d-md-flex flex-column   px-3 pt-4">
  <!-- Logo -->
  <div class=" pt-2 ps-2">
    <img src="../../assets/instalogo.png" alt="Instagram" class=" img-fluid logo" style="width: 250px; height: 70px;" />
  </div>

  <!-- Navigation -->
  <nav class="nav flex-column gap-2">
    <a  class="nav-link d-flex align-items-center" routerLink="/home">
      <i class="fa-solid fa-house fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Home"></i>
      <span class="d-none d-xl-inline">Home</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/search">
      <i class="fa-solid fa-magnifying-glass fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Search" ></i>
      <span class="d-none d-xl-inline">Search</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/explore">
      <i class="fa-regular fa-compass fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Explore" ></i>
      <span class="d-none d-xl-inline">Explore</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/reels">
      <i class="fa-solid fa-film fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Reels" ></i>
      <span class="d-none d-xl-inline">Reels</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/messages">
      <i class="fa-solid fa-message fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Messages" ></i>
      <span class="d-none d-xl-inline">Messages</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/notifications">
      <i class="fa-solid fa-bell fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Notifications" ></i>
      <span class="d-none d-xl-inline">Notifications</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/create">
      <i class="fa-solid fa-square-plus fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Create" ></i>
      <span class="d-none d-xl-inline">Create</span>
    </a>
    <a class="nav-link d-flex align-items-center " routerLink="/profile">
      <i class="fa-solid fa-user fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Profile" ></i>
      <span class="d-none d-xl-inline">Profile</span>
    </a>
  </nav>

  <!-- More -->
  <div class= "pt-5">
    <a class="nav-link d-flex align-items-center" routerLink="/more">
      <i class="fa-solid fa-bars fs-5 me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="More"></i>
      <span class="d-none d-xl-inline">More</span>
    </a>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
