<!-- Saved Grid -->
<div class="container mt-3  pb-5">
  <div *ngIf="!isSavedAvailable && loggedInUserName == username" class="text-center py-2  ">
    <i class="fa-solid fs-1 fa-bookmark"></i>
    <p class="fw-bold fs-2">Save</p>
    <p> Save photos and videos that you want to see again. <br>No one is notified, and only you can see what you've
      saved.</p>
  </div>
  <div *ngIf="loggedInUserName != username && !( isPublic|| alreadyFollowing )" class="text-center py-2 ">
    <i class="fa-solid fa-lock  fs-1"></i>
    <p class="fw-bold fs-2 mt-3">This account is private</p>
    <p>Follow to see their photos and videos.</p>
  </div>
  <div *ngIf="isSavedAvailable && (isPublic || alreadyFollowing || loggedInUserName == username)" class="row g-2">
    <div class="post-grid mb-3">
      <div class="post-card" *ngFor="let post of AllSaved">
        
        <div *ngIf="post.type == 'post'">
          <img  [src]="getProfileImage(post.posts.imageUrl)" alt="Post" class="post-image">

        <!-- Overlay -->
        <div class="overlay d-flex justify-content-center align-items-center" (click)="openPostPage(post.posts.postId, post.posts.user.userName)">
          <div class="text-white d-flex gap-3 fs-5 fw-bold">
            <span><i class="fas fa-heart"></i> {{ post.posts.likesCount }}</span>
            <span><i class="fas fa-comment"></i> {{ post.posts.commentsCount }}</span>
          </div>
        </div>
        </div>
        <div *ngIf="post.type == 'reel'">
          <!-- Video -->
        <video [src]="post.cloudinaryDB.url" class="post-media" muted loop playsinline>
        </video>

        <!-- Overlay -->
        <div class="overlay d-flex justify-content-center align-items-center"
          (click)="openReelPage(post.cloudinaryDB.publicId, post.cloudinaryDB.userName)">
          <div class="text-white d-flex gap-3 fs-5 fw-bold">
            <span><i class="fas fa-heart"></i> {{ post.cloudinaryDB.likeCount }}</span>
            <span><i class="fas fa-comment"></i> {{ post.cloudinaryDB.commentCount }}</span>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>

</div>




<input type="file" accept="image/*" style="display:none" #fileInput (change)="handleFileUpload($event)" />