

<div class="d-flex flex-column h-100 text-white bg-black">
  
  <div *ngIf="noUserSelected" class="h-100 d-flex justify-content-center flex-column align-items-center">
  <i style="font-size:100px;" class=" fa-regular fa-message"></i>
  <p class="fs-4" >Your messages</p>
  <p class="fs-6" >Send a message to start a chat.</p>
  <div class="btn btn-primary p-1 rounded-3 px-3 " data-bs-toggle="modal" data-bs-target="#message">Send Message</div>
</div>
  <!-- Chat Header -->
  <div  *ngIf="!noUserSelected" class="p-3 border-bottom d-flex align-items-center justify-content-start" style="border-color: rgb(39, 39, 39)!important; border-width: 1px !important; ">
    <!-- Mobile Back Button -->
    <button class="btn btn-sm d-md-none text-white" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
     
    <div class="search-item d-flex align-items-center  p-2  " 
     routerLink="/{{groupName}}" >
      <img [src]="getProfileImage(profilePicture)" class="rounded-circle mx-3" width="40" height="40" style="object-fit: cover;" />
      <div>
        <div class="fw-bold text-white">{{ groupName }}</div>
        <div class=" small">{{ fullName }}</div>
      </div>
    </div>
    <div class="d-md-none" style="width: 30px;"></div> <!-- placeholder -->
  </div>

<!-- Messages Wrapper -->
<div    [ngClass]="noUserSelected ? '':'messages-wrapper'" #scrollContainer>

  <div *ngFor="let msg of messages" class="mb-2 message-text position-relative"
       [class.text-end]="msg.groupName === user">

    <!-- Emoji Button for Sender -->
    <div class="overlay" (click)="toggleEmojiPicker(msg.id)" *ngIf="msg.groupName === user"> 
      <i class="fa-regular fa-face-smile"></i>
    </div>
    <div *ngIf="msg.reaction &&  msg.groupName === user" class=" ">
      <span class="emoji fs-6">{{ msg.reaction }}</span>
    </div>
     <!-- 3-dot Menu Button -->
<div class="menu position-relative" *ngIf="msg.groupName === user" (click)="toggleMenu(msg.id)">
  <i class="fa-solid fa-ellipsis-vertical"></i>

  <!-- Dropdown -->
  <div *ngIf="menuOpenId === msg.id" class="dropdown-menu-custom position-absolute end-0   p-2 rounded shadow">
    <div class="dropdown-item text-danger" (click)="unsendMessage(msg.id)">
      Unsend
    </div>
  </div>
</div>


    <!-- Message Bubble -->
    <div class="d-inline-block fs-small px-2 py-1 rounded-5 text-break position-relative"
         [ngClass]="{'mytext': msg.groupName === user, 'othertext': msg.groupName !== user}">
      {{ msg.message }}

      <!-- Post / Reel -->
  <div *ngIf="msg.messageType === 'post' || msg.messageType === 'reel'" 
       class="card shadow-sm border-0" style="max-width: 300px;">
    <img *ngIf="msg.mediaUrl" [src]="msg.mediaUrl" class="card-img-top" alt="media preview">
    <div class="card-body p-2">
      <p class="card-text mb-1"><strong>{{ msg.sender }}</strong>: {{ msg.message }}</p>
      <a *ngIf="msg.postLink" [href]="msg.postLink" target="_blank" class="btn btn-sm btn-outline-primary">
        View {{ msg.messageType | titlecase }}
      </a>
    </div>
  </div>



      <!-- Reaction Display -->
    </div>
    <div *ngIf="msg.reaction && msg.groupName !== user" class=" ">
      <span class="emoji fs-6">{{ msg.reaction }}</span>
    </div>

    <!-- Emoji Button for Receiver -->
    <div class="overlay" (click)="toggleEmojiPicker(msg.id)" *ngIf="msg.groupName !== user">
      <i class="fa-regular fa-face-smile"></i>
    </div>
     

    <!-- Emoji Picker -->
    <div *ngIf="emojiPickerIndex === msg.id" class="emoji-picker-container position-absolute bg-light rounded shadow p-2">
      <span class="emoji" *ngFor="let emoji of emojis" (click)="addEmojiToMessage(msg.id, emoji)">
        {{ emoji }}
      </span>
    </div>

  </div>
</div>



<div *ngIf="!noUserSelected" class="p-3 border-top mb-5" style="border-color: rgb(39, 39, 39)!important; border-width: 1px !important;">
  <form (ngSubmit)="send()">
    <div class="input-group">
      <input type="text"
             class="form-control bg-black text-white rounded-pill border-secondary "
             [(ngModel)]="newMessage"
             name="message"
             required
             placeholder="Type a message..."
             aria-label="Message"
             style="box-shadow: none; outline: none; padding-right: 70px;">

      <!-- Send Button inside input -->
      <button type="submit"
              class="btn position-absolute text-primary end-0 me-3  "
              style="background-color: transparent; border: none;  z-index: 10;">
        Send
      </button>
    </div>
  </form>
</div>

</div> 