<div class="container  ">
<!-- reels Grid -->
<div class="container mt-3  pb-5">
  <div *ngIf="activeTab === 'reels' && (isPublic || alreadyFollowing || loggedInUserName == username)" 
     class="post-grid mb-3">
  
  <div class="post-card" *ngFor="let reel of reels">
    <!-- Reel Video -->
    <video [src]="reel.url"
           class="post-media"
           muted
           loop
           playsinline>
    </video>

    <!-- Overlay -->
    <div class="overlay d-flex justify-content-center align-items-center"
         (click)="OpenReelPage(reel.publicId)">
      <div class="text-white d-flex gap-3 fs-5 fw-bold">
        <span><i class="fas fa-heart"></i> {{ reel.likeCount }}</span>
        <span><i class="fas fa-comment"></i> {{ reel.commentCount }}</span>
      </div>
    </div>
  </div>
</div>

  <div *ngIf="!isPostAvailable && loggedInUserName == username" class="text-center py-2 " >
    <i class="fa-solid fs-1 fa-table-cells"></i>
    <p class="fw-bold fs-2" >Share Reels</p>
    <p> When you share Reels, they will appear on your profile.</p> 

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reelModal"  >Share your first reel  </button>
  </div>
  <div *ngIf="!isPostAvailable && loggedInUserName != username && ( isPublic||  alreadyFollowing )" class="text-center py-2 " >
    <i class="fa-solid fs-1 fa-table-cells"></i>
    <p class="fw-bold fs-2 mt-3" >No Reels Yet</p> 
  </div>
    <div *ngIf="loggedInUserName != username && !( isPublic|| alreadyFollowing )" class="text-center py-2 " >
    <i class="fa-solid fa-lock  fs-1"></i>
    <p class="fw-bold fs-2 mt-3" >This account is private</p>
    <p>Follow to see their photos and videos.</p>  
  </div>
</div>
<input type="file" accept="image/*" style="display:none" #fileInput (change)="handleFileUpload($event)" /> 




